.aboutMe {
  margin-top: 50px;
  margin-bottom: 50px;
  .title{
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .text{
    font-size: 25px;
  }
}

@media (max-width: 500px) {
  .aboutMe{
    margin-top: 35px;
  }
}