.contact {
  margin-bottom: 50px;
  margin-top: 50px;
  .title{
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .socialContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    align-items: center;
    animation: opacity 1.2s;

    &:nth-last-child(1){
      margin-bottom: 0;
    }
    .socialLink {
      display: flex;
      font-size: 27px;
      transition: 0.4s;

      &:hover{
        transform: scale(1.08);
      }
      .socialTitle{
        font-size: 27px;
        margin-right: 10px;
      }
    }
  }
}


@keyframes opacity {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}