.experience{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  .firstTitle{
    animation-name: animationOpacity;
    animation-duration: 0.5s;
    animation-delay: 0.2s;
  }
  .line{
    display: block;
    width: 5px;
    height: 15px;
    margin-bottom: 5px;
    background-color: white;
    opacity: 0;
  }
  .line.visible{
    opacity: 1;
  }
}



@keyframes animationOpacity {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}