.mainNav {
  margin: 25px 0;

  .hamburgerMenu {
    display: none;
    font-size: 50px;
    cursor: pointer;
  }

  .navList{
    display: flex;
    justify-content: center;



    .item{
      margin-left: 25px;

      &:first-child{
        margin-left: 0;
      }

      .link {
        font-size: 25px;

      }

      .link.active {
        font-weight: bold;


      }
    }
  }
}

.navList.active {
  display: flex !important;
  flex-direction: column !important;
}

@media(max-width: 750px){
  .mainNav {
    position: relative;
    overflow: hidden;

    .hamburgerMenu {
      display: block;
    }

    .navList{
      display: none;
      position: relative;
      right: 0;
      animation: mobileMenuAnimation 0.5s;

      .item{

        margin-left: 0;
        margin-top: 15px;

        &:first-child{
          margin-left: 0;
        }

        .link {
          font-size: 25px;

        }

        .link.active {
          font-weight: bold;


        }
      }
    }
  }
}

@keyframes lineMoveActive {
  0%{
    left: -100%;
  }
  100%{
    left: 0;
  }
}

@keyframes mobileMenuAnimation {
  0%{
    right: -100%;
  }
  100%{
    right: 0;
  }
}