.mainNav {
  margin: 75px 0;

  .hamburgerMenu {
    display: none;
    font-size: 50px;
    cursor: pointer;
  }

  .navList{
    display: flex;
    justify-content: center;
    position: relative;
    right: 0;



    .item{
      margin-left: 25px;

      &:first-child{
        margin-left: 0;
      }

      .link {
        font-size: 25px;

      }

      .link.active {
        font-weight: bold;


      }
    }
  }
}



@media(max-width: 750px){
  .mainNav {
    position: relative;

    .hamburgerMenu {
      display: block;
    }

    .navList{
      display: flex !important;
      flex-direction: column !important;
      position: absolute;
      bottom: -100%;
      right: -100%;
      transition: 0.5s;
      &.active{
        transform: translateX(50%);
        right: 50%;
      }

      .item{

        margin-left: 0;
        margin-top: 15px;

        &:first-child{
          margin-left: 0;
        }

        .link {
          font-size: 25px;

          &.active {
            font-weight: bold;
          }
        }

      }
    }
  }
}

@keyframes lineMoveActive {
  0%{
    left: -100%;
  }
  100%{
    left: 0;
  }
}




@-webkit-keyframes mobileMenuAnimation {
  0%{
    right: -100%;
  }
  100%{
    right: 0;
  }
}

@-moz-keyframes mobileMenuAnimation {
  0%{
    right: -100%;
  }
  100%{
    right: 0;
  }
}

@-ms-keyframes mobileMenuAnimation {
  0%{
    right: -100%;
  }
  100%{
    right: 0;
  }
}

@-o-keyframes mobileMenuAnimation {
  0%{
    right: -100%;
  }
  100%{
    right: 0;
  }
}

@keyframes mobileMenuAnimation{
  0%{
    right: -100%;
  }
  100%{
    right: 0;
  }
}
